.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
Example LAR.xlsm
~$Example LAR.xlsm
package-lock.json
node_modules

# Local Netlify folder
.netlify
.env
