{
	"svelteSortOrder": "options-scripts-styles-markup",
	"svelteStrictMode": false,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": true,
	"singleQuote": true,
	"endOfLine": "auto",
	"enable": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"semi": true,
	"printWidth": 90,
	"trailingComma": "es5",
	"useTabs": true
}
